<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971176164313-o9tdii711eseb7fuc3u01j3ah0qgjvum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971176164313-o9tdii711eseb7fuc3u01j3ah0qgjvum</string>
	<key>API_KEY</key>
	<string>AIzaSyB7F45kTgK7Q2_XvXQoScUUZY_qK3s0gOs</string>
	<key>GCM_SENDER_ID</key>
	<string>971176164313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.subz</string>
	<key>PROJECT_ID</key>
	<string>subz-685eb</string>
	<key>STORAGE_BUCKET</key>
	<string>subz-685eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971176164313:ios:5dfb1e40fa57f5a3a437c8</string>
</dict>
</plist>